<div class="cart-action-buttons-group">
	{% if cart_settings.enable_checkout %}
		<button class="btn btn-primary btn-place-order" type="button">
			{{ _("Checkout") }}
		</button>
		{% if cart_settings.show_request_for_quotation_button %}
			<button class="btn btn-outline-secondary btn-request-for-quotation" type="button">
				{{ _("Request Quote") }}
			</button>
		{% endif %}
		<button class="btn btn-outline-secondary btn-export-csv" type="button">
			{{ _("Export Cart (.csv)") }}
		</button>
		<button class="btn btn-outline-secondary btn-empty-cart" type="button">
			{{ _("Empty Cart") }}
		</button>
	{% else %}
		{% if cart_settings.show_request_for_quotation_button %}
			<button class="btn btn-primary btn-request-for-quotation" type="button">
				{{ _("Request Quote") }}
			</button>
		{% endif %}
		<button class="btn btn-outline-secondary btn-export-csv" type="button">
			{{ _("Export Cart (.csv)") }}
		</button>
		<button class="btn btn-outline-secondary btn-empty-cart" type="button">
			{{ _("Empty Cart") }}
		</button>
	{% endif %}
</div>
