{% set has_product_media = (gallery_images and gallery_images | length) or doc.website_image or doc.thumbnail or "/assets/webshop/images/product-fallback.svg" %}
{% set width_class = "expand" if not has_product_media else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div class="col-md-7 product-details {{ width_class }}">
	<h1 class="product-title-main" itemprop="name">
		{{ _(doc.web_item_name) }}
	</h1>

	<!-- Wishlist -->
	{% if cart_settings.enable_wishlist %}
		<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} product-wishlist-btn"
			data-item-code="{{ doc.item_code }}">
			<svg class="icon sm">
				<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
			</svg>
		</div>
	{% endif %}

	<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
	</div>
	<div itemprop="review" itemscope itemtype="https://schema.org/Review">
	</div>

	<!-- Hidden item code for SEO -->
	<div class="product-item-code-hidden" itemprop="name" style="display:none;">{{ _(doc.item_code) }}</div>

	<div class="product-purchase-surface">
		{% if has_variants %}
			{% include "templates/generators/item/item_variant_selector.html" %}
		{% else %}
			{% include "templates/generators/item/item_add_to_cart.html" %}
		{% endif %}
	</div>
</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			webshop.webshop.wishlist.wishlist_action($btn);
		});
</script>
